/* HomePage.css */
.home-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  .modules-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .module-box {
    width: calc(33.33% - 20px);
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9; /* Light gray background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .module-box:hover {
    transform: scale(1.05);
  }
  
  .module-box h3 {
    margin-top: 0;
    color: #333333;
  }
  
  .module-box p {
    margin: 10px 0 0;
    color: #555;
  }
  .home-nav {
    margin-bottom: 20px;
  }
  
  .home-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .home-nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .home-nav a {
    text-decoration: none;
    color: #d78b10;
    font-weight: bold;
  }
  
  .home-nav a:hover {
    color: #4caf50;
  }